# Telegram Bot
aiogram==3.1.1

# API server (se for usar FastAPI para Webhooks)
fastapi==0.109.1
uvicorn==0.23.2

# Pagamentos Mercado Pago
mercadopago==2.3.0

# Variáveis de ambiente (apenas para testes locais)
python-dotenv==1.0.0
