# Telegram Bot
aiogram==3.0.1           # versão 3.x mais compatível

# API server (se for usar Webhooks)
fastapi==0.100.0         # versão que funciona com typing-extensions 4.7.x
uvicorn==0.23.2

# Pagamentos Mercado Pago
mercadopago==2.3.0

# Variáveis de ambiente (opcional para testes locais)
python-dotenv==1.0.0
